<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9A763231D1DC628001E5A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A7633F1D1DC629001E5A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A7634A1D1DC629001E5A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
